/* Color Palette
  White: #ffffff;
  Black: #000000;
  Medium Gray: #999999;
  Light Gray: #dddddd;
  Light blue: #99ffff;
*/


/*********** Begin Layout Styles ***********/
body {
  background-color: #ff9f05;
}

div.container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* disable this line if you want full-width layouts */
}

header, main, footer {
  padding: 15px;
  margin: 15px;
}

/* phones (base layout is mobile-first) */
header {
  border: 3px solid #520100; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "logo";
}

main {
  border: 3px solid #3E3E32; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "food";
}

footer {
  border: 3px solid #3D7799; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "order";
}

/* tablets and small laptops */
@media (min-width: 600px) {

  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name logo";
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "food food";
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "order order";
  }
}

/* desktops */
@media (min-width: 900px) {
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name logo";
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "food food";
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "order order";
  }
}

div {
  /*border: 1px solid #999999; /* disable this line once layout works */
  text-align: center; /* disable this line once layout works */
}

main div {
    min-height: 80px; /* disable this line once layout works */
}

div#name {
  grid-area: name;
}

div#logo {
  grid-area: logo;
}

div#food{
  grid-area: food;
}

div#order {
   grid-area: order;
/*********** End Layout Styles ***********/


/*********** Begin Content Styles ***********/

/* Headings */
h1 {
  color: #3e0287;
font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  color: #3e0287;
font-family: 'Gloria Hallelujah', cursive;
}

h3 {
 color: #3e0287;
}

h4 {

}

h5 {

}

h6 {

}

/* Paragraphs and lists */

p {
  color: #3e0287;
  font-family: 'Gloria Hallelujah', cursive;
}

ol {

}

ul {

}

li {

}

/* tables */

table {

}

caption {

}

tr {

}

th {

}

td {

}

/* images */
img {

}

iframe{
   max-width: 100%;
}

/* links */

a:link {
    color: #178c31;
}
a:visited {
    color: #178c31;
}

a:hover {
    color: #4c0000;
    opacity: 0.7;
}

a:active {
    color: #4c0000;
}

/* forms */



/*********** End Content Styles ***********/
